@import url(global.css);

#main-container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem 1.5rem 0 0;
    grid-template-columns: 180px repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    /* border: 1px solid silver; */
}

aside {
    height: 960px;
    width: 150px;
    grid-column: 1;
    grid-row: 1 / 5;
    gap: 1.5rem;
    margin: -1.5rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid silver; */
}

.aside-menu-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.aside-menu-btn:focus {
    font-weight: 900;
}

.video-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-self: center;
}

.video-thumb {
    width: 100%;
    border-radius: .5rem;
}

.video-info {
    /* min-height: 100px; */
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}

.video-avatar-logo {
    align-self: baseline;
    margin-right: .5rem;
}

.video-title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.video-title h1, p{
    width: 180px;
}