#main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
}

aside{
    grid-column: 1;
    grid-row: 1 / 5;
    gap: .5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: aqua;
}